# Add any directories, files, or patterns you don't want to be tracked by version control
Library/
CF2-Data/
*.userprefs
obj/
ProjectSettings/
*.zip
Temp/
*.apk
*.unitypackage
*.unityproj
iOS1.0
*.csproj